# This file contains all Codeowners. The owners of the specified
# files will be automatically requested for review when a PR is opened.

*								@marv7000
.github/*						@ByteOtter

# Kernel subsystems
kernel/drv/acpi/				@marv7000
kernel/drv/gpu/					@marv7000
kernel/drv/net/					@tiltingpenguin
kernel/drv/pci/					@marv7000
kernel/drv/spi/					@mtravitzky
kernel/drv/usb/					@marv7000
kernel/drv/misc/				@marv7000

# File systems
kernel/fs/initfs/				@marv7000
