# This file contains all Codeowners. The owners of the specified
# files will be automatically requested for review when a PR is opened.

*						@marv7000
.github/*				@ByteOtter

# Kernel subsystems
drv/acpi/				@marv7000
drv/gpu/				@marv7000
drv/net/				@tiltingpenguin
drv/pci/				@marv7000
drv/spi/				@mtravitzky
drv/usb/				@marv7000
drv/misc/				@marv7000

# File systems
fs/initfs/				@marv7000
