menu "Boot"

config BOOT_LIMINE
  bool "Limine boot protocol"
  default y
  help
    Use the Limine boot protocol to start the kernel.

config BOOT_UEFI
  bool "UEFI application emulation"
  depends on X86_64 || AARCH64 || RISCV64 || LOONGARCH64
  default n
  help
    Imitate an EFI binary and use that as an entry point.

endmenu
