[package]
name = "menix"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["dylib"]

[build-dependencies]
bindgen = "0.71.1"

[dependencies]
bitflags = "2.9.0"
cfg-if = "1.0.0"
limine = { version = "0.4.0", optional = true }
seq-macro = "0.3.6"
spin = "0.10.0"
bytemuck = { version = "1.22.0", features = ["derive"] }
uacpi-sys = { path = "../bindings/uacpi", optional = true }
flanterm-sys = { path = "../bindings/flanterm" }
num-traits = { version = "0.2.19", default-features = false }

[features]
default = ["boot_limine", "all"]
all = ["acpi", "openfw", "pci"]
# Boot protocols
boot_limine = ["dep:limine"]
# Firmware
acpi = ["dep:uacpi-sys", "pci"]
openfw = []
# Bus
pci = []
